<% navbar_at %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="container grid place-items-center h-screen mx-auto p-4 bg-white w-screen">
    <div class="w-full md:w-1/2 lg:w-1/3 mx-auto my-12">
      <h1 class="text-lg font-bold">Sign up</h1>
      <form class="flex flex-col mt-4">

        <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"px-4 py-3 mt-4 w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 text-sm", placeholder:"Name" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"px-4 py-3 mt-2 w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 text-sm", placeholder:"Email address" %>
              <% if @minimum_password_length %>
                <a class="text-xs ml-2 font-medium text-blue-500"> (pass length minimum <%= @minimum_password_length %> simbols)</a>
              <% end %>
        <%= f.password_field :password, autocomplete: "current-password", class:"px-4 py-3 mt-2 w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 text-sm", placeholder:"Password" %>
        <%= f.password_field :password_confirmation, autocomplete: "current-password", class:"px-4 py-3 mt-2 w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 text-sm", placeholder:"Password confirm" %>
        <%= f.submit "Sign Up", class:"mt-4 px-4 py-3  leading-6 text-base rounded-md border border-transparent text-white focus:outline-none bg-red-500 text-red-300 hover:text-white focus:ring-2 focus:ring-red-500 focus:ring-offset-2 cursor-pointer inline-flex items-center w-full justify-center items-center font-medium focus:outline-none" %>

        <div class="flex flex-col items-center mt-6">
              <% if devise_mapping.rememberable? %>
                <div class="mt-1 text-xs font-light">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>
          <p class="text-xs mt-4  font-light text-gray-700">
            Already registered?<a class="ml-2 font-medium text-blue-500"><%= render "devise/shared/links" %></a>
          </p>
        </div>
      </form>
    </div>
  </div>
<% end %>